// Place all the styles related to the Products controller here.
// You can use Sass (SCSS) here: http://sass-lang.com/

$body-bg: rgb(48,48,48);
$titles-color: yellow;
$text-color: white;

body {
  color: $text-color;
  background: $body-bg;
}

h1 {
  color: $titles-color;
  margin: 80px auto 40px;
  font-weight: bold;
}

th {
  color: rgb(255, 187, 51);
}

.form-cells{
  color: rgb(255, 204, 102);
}

.products {
  margin-top: 40px;

  .product {
    padding: 15px 10px;
    border-radius: 5px;

    &:hover{ background: gray; }

    .product-upvote {
      position: relative;
      float: left;
      text-align: center;
      text-decoration: none;
      margin-right: 20px;
      padding: 5px 5px;
      width: 35px;

      .upvote-arrow {
        border-bottom: 9px solid #534540;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-top: 9px solid transparent;
        left: 10px;
        position: absolute;
        top: 0px;
      }

      .upvote-count {
        display: block;
        color: #ffffff;
        font-size: 14px;
        font-weight: bold;
        line-height: 1;
        margin-top: 18px;
      }

      &:hover .upvote-arrow { border-bottom-color: #F04500; }

      &.upvote-active {
        .upvote-arrow { border-bottom-color: #F04500; }
        .upvote-count { color: #F04500; }
      }
    }

    .product-details {
      float: left;

      .product-title a {
        color: rgb(255, 187, 51);
        font-size: 21px;
        line-height: 1;

        &:hover, &:focus { color: #F04500; text-decoration: none; }
      }
      .product-description {
        display: block;
        color: #999;
        font-size: 16px;
      }
    }

    .product-comments {
      float: right;
      color: #ccc;
      padding: 10px;

      .glyphicon { font-size: 21px; }
      .comment-count {
        margin-left: 15px;
        font-size: 18px;
        vertical-align: text-bottom;
      }
    }
  }
}

.product-page {
  margin-top: 20px;
  .product-header {
    background: #ffeb99;
    color: #fafaf2;
    text-align: center;
    padding: 100px 25px;
    margin-top: -20px;
    margin-bottom: 30px;

    h1 {
      color: #ff9933;
      font-size: 32px;
      margin-top: 50px;
    }

    p {
      font-size: 18px;
      color: #303030;
      margin-top: 15px;
      margin-bottom: 40px;
    }

    .btn-primary {
      font-size: 18px;
      font-weight: bold;
    }

    .actions {
      margin-top: 30px;

      a {
        color: #303030;
        font-size: 41px;
        margin-right: 5px;

        &:hover { color: orange; }
      }
    }
  }

  .votes {
    margin-bottom: 40px;
    padding: 0 25px;

    h2 {
      color: #ff8000;
      font-weight: bold;
      font-size: 16px;
      margin-bottom: 20px;
    }

    img { width: 40px; }
  }

  .comments {
    padding: 0 25px;

    h2 {
      color: #ff8000;
      font-weight: bold;
      font-size: 16px;
      margin-bottom: 20px;
    }

    img {
      width: 25px;
      margin: -3px 10px 0 -3px;
    }
  }
}
